node_modules/
.env
.DS_Store

# Banco de Dados (Todos os arquivos gerados)
*.db
*.db-shm
*.db-wal
*.sqlite
brindaria_prod.db_

# Dados Sensíveis (Dump)
database/seeds/*.json

# Uploads e Logs
public/uploads/*
logs/*
npm-debug.log

# Exceção para o CSS compilado
!public/css/styles.css