<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? title : 'Brindaria' %></title>
    <meta name="description" content="<%= locals.description || 'Arte Sacra e Itens Personalizados' %>">

    <link rel="icon" type="image/png" href="/images/ICONE.png">

    <link rel="stylesheet" href="/css/styles.css">

    <% if (locals.canonical) { %>
        <link rel="canonical" href="<%= canonical %>" />
    <% } %>
</head>
<body class="bg-gray-50 text-gray-800 font-sans antialiased flex flex-col min-h-screen">

    <% if (!locals.hideHeader) { %>
        <%- include('../partials/header') %>
    <% } %>

    <main class="flex-grow">